{{template "base".}}


{{define "content"}}


<h1>First Name is {{index .StringMap "first"}}</h1>
<h1>Last Name is {{index .StringMap "last"}}</h1>
<h1>Email is {{index .StringMap "email"}}</h1>



{{end}}